@import url('https://fonts.googleapis.com/icon?family=Material+Icons');



header {
  background: #4a90e2;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

header.row {
  display: flex;
}

.figure-logo {
  margin-left: 30px;
}

.svg-facebook {
  width: 50px;
  height: 50px;
  margin-left: 90%;
}

div.col-6 {
  margin-top: 2px;
}
