.row-post {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}

.img-post {
  margin-top: 6px;
}

.row-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img-usr {
  border-radius: 50%;
}

.img-footer {
  width: 100%;
}

.figure-usr {
  margin-top: 10px;
  margin-left: 15px;
}

hr {
  border: 0.5px inset #979797;
  width: 100%;
  margin-left: 15px;
  margin-right: 15px;
}

span,
h3 {
  margin-left: 3px;
  margin-bottom: 2px;
}

p {
  margin-left: 15px;
  margin-right: 15px;
  text-align: justify;
}

.border-comment {
  border-radius: 20px;
  color: #3E3E3E;
  background-color: #d9d9d9;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 15px;

}

div.border-comment :only-child {
  margin-bottom: 15px;
}

span {
  color: #bfbfbf;
}
