.row-post {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
}

.img-post {
  margin-top: 6px;
}

.row-footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.img-footer {
  width: 100%;
}

.figure-usr {
  margin-top: 10px;
  margin-left: 15px;
}

span,
h3 {
  margin-left: 3px;
}

p {
  margin-left: 15px;
}
